header{
width: 150px;
height: 150px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
background-color: black;
}
header img{
    height: 100%;

}
header .logo a{

}
header .logo img{

}
header nav{

}
header nav ul li a{

}






















/* header{
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}
header  .logo {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header  .logo img{
    width: 150px;
   
   
}
header nav{
    width:50px
}
header  nav ul li{
    width: 50px;
    padding: 10px;
    text-align: center;
}
header  nav ul li a{
 color: white;
 text-transform: uppercase
}
header  nav ul li a:hover{
    color: white;
    font-size: 20px;
    transition: all .5s;
}
   
      
      

   
   
header  nav ul{
    color: white;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
   
   
} */